$font-stack: 'sans-serif';
$primary-color:#fff;

html,body{
  font-family: $font-stack;
  color: $primary-color;
  background:#3b5998;
  padding:0;
  font-size:12px;
  width:100%;
  margin:0 auto;
}
h1,h2{
  margin:0 auto;
  text-align:center;
  letter-spacing:normal;
}
h1 { font-size:4em; }
h2 { font-size:3em; }
h3 { font-size:2em; }

a{
  text-decoration:none;

  &:link{
    color:inherit;
    text-decoration:none;
    font-weight:bold;
  }
  &:visited{
    font-weight:normal;
    color:#ffffff;
  }
  &:hover,
  &:active{
    color:#b6a754;
  }
  &:internal{
    color:#293e6a;
  }
}

header{
  width:100%;
  margin:0 auto;
  background-color:#639bf1;
  float:none;

  h1{
    text-align:left;
    padding-left:5em;
  }

  img{
    margin-bottom:0;
    vertical-align:middle;
  }
}
.clear{
  clear:both;
}
.central{
  width:100%;
  height:auto;
  position:relative;
  background-color:#77ba9b;

  nav{
    background-color:#293e6a;
    color:#ffffff;
    width:10%;
    float:left;
    overflow:hidden;
    z-index:2;
    min-height:2em;
    padding-top:1%;
    text-align:center;

    ul {
      display:none;
      text-align:left;

      li{
        list-style:none;
        margin-top:0.5em;
      }
    }
  }

  nav:hover{
    width:20%;
    position:absolute;
    height:100%;

    span{
      display:none;
    }

    ul{
      display:block;
    }
  }
  .content{
    width:88%;
    float:right;
    min-height:650px;

    p{
      font-size:1.5em;
      text-align:justify;
      margin:1%;
      text-transform:lowercase;
    }
    img{
      margin-left:1em;
      float:right;
    }

    ul.list{
      width:100%;
      text-align:center;
      li{
        padding-top:1em;
        width:40%;
        min-height:100px;
        list-style:none;
        border:1px solid;
        font-size:2em;
        float:left;
        a{
          img{
            display:none;
          }
        }
        &:hover{
          background:#639bf1;
          a{
            img{
              display:inline-block;
            }
          }
        }
      }

      img{
        float:none;
        width:40%;
      }
    }
    article{
      width:90%;
      margin-bottom:2em;
      p{
        display:block;
        float:left;
        width:48%;
        margin:1%;
      }
      img{
        display:block;
        float:right;
        width:48%;
      }

    }
  }
}
.central:last-child:after{
  clear:both;
}

.menu{
  text-align:center;
}
.photo{
  border:2px solid #ffffff;
}
.container{
  width:90%;
  margin:0 auto;
  background:#fdfdfd;
  margin-top:0;
  font-family:sans-serif;
}
.logo {
  padding-left:2em;
  padding-top:1em;
}
footer{
  padding:3em;
  background:#293e6a;
  text-align:center;
}
